<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    配置日志-->
<!--    部署到服务器时建议关掉，不然产生的日志太多，建议开发调试的时候打开-->
<!--    <settings>-->
<!--         <setting name="logImpl" value="log4j"/>-->
<!--    </settings>-->

  <typeAliases>
    <package name="com.zcx.crm.settings.domain"/>
    <package name="com.zcx.crm.workbench.domain"/>
  </typeAliases>

  <mappers>
      <package name="com.zcx.crm.settings.dao"/>
      <package name="com.zcx.crm.workbench.dao"/>
  </mappers>

</configuration>

































